// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$darkblue: #155263;
$orange0: #FFC93C;
$orange2: #FF6F3C;
$orange1: #FF9A3C;
