// Specific CSS for your home-page
* {
    font-family:'Gill Sans', 'Gill Sans MT',
    Calibri, 'Trebuchet MS', sans-serif
  }
$color1: #0B132B;
$color2: #1C2541;
$color3: #3A506B;
$color4: #5BC0BE;
$color5: #6FFFE9;
$color6: #bcfff5;
$color7: #ffe96f;

html, body {
    height: 100%;
    width: 100%;
    margin: 0;}

#all-div {
    width:100%;
    height:100%;
    position:absolute;
    font-size:25px;
    font-weight:bold;
    font-family:verdana}

#ABOUT {
    background:$color1;
    color: $color5;
    height:100%;
    padding-top:100px;
}

#PROJECTS {
    background:$color1;
    height:100%;
    padding-top:100px}

#EXPERIMENTS {
    background: $color1;
    height:100%;
    padding-top:100px}

#CONNECT {
    background:$color1;
    height:100%;
    padding-top:100px}
