<section class="card-list">
  <a href="/minesweeper" class="card" style="background-image: url(https://images.unsplash.com/photo-1580234831315-438a4813685c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=867&q=80)">
    <article>
       <header class="card-header">
        <p>GAME</p>
        <h2>Minesweeper</h2>
        <div class="card-content">
          grid and javascript practice
        </div>
      </header>
      <div class="tags">
        <span>javascript</span>
        <span>html</span>
        <span>css</span>
      </div>
    </article>
  </a>
  <a href="/snow" class="card" style="background-image: url(https://images.unsplash.com/photo-1542601098-8fc114e148e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)">
    <article>
      <header class="card-header">
        <p>ANIMATION</p>
        <h2>Snow</h2>
        <div class="card-content">
          css animation function practice
        </div>
      </header>
      <div class="tags">
        <span>html</span>
        <span>css</span>
      </div>
    </article>
  </a>
  <a href="https://github.com/CaaaseyD/myBank" class="card" style="background-image: url(  https://images.unsplash.com/photo-1515974256630-babc85765b1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)">
    <article>
      <header class="card-header">
        <p>JAVA</p>
        <h2>Simple Bank</h2>
        <div class="card-content">
          JAVA project practice
        </div>
      </header>
      <div class="tags">
        <span>java</span>
        <span>html</span>
        <span>css</span>
      </div>
    </article>
  </a>
</section>
