<section class="card-section">
  <div class="card-grid">
    <a class="card" href="https://www.takestock.dev/" target="_blank">
      <div class="card-background" style="background-image: url(https://images.unsplash.com/photo-1563986768711-b3bde3dc821e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=868&q=80"></div>
      <div class="card-content">
        <p class="card-category">FINANCE</p>
        <h3 class="card-heading">TakeStock</h3>
      </div>
    </a>
    <a class="card" href="#" target="_blank">
      <div class="card-background" style="background-image: url(https://images.unsplash.com/photo-1551632811-561732d1e306?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)"></div>
      <div class="card-content">
        <p class="card-category">ECOMMERCE</p>
        <h3 class="card-heading">Gearless</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card-background" style="background-image: url(https://images.unsplash.com/photo-1606840342018-8f1c049681bf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80)"></div>
      <div class="card-content">
        <p class="card-category">New</p>
        <h3 class="card-heading">More to come</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card-background" style="background-image: url(https://images.unsplash.com/photo-1533601017-dc61895e03c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)"></div>
      <div class="card-content">
        <p class="card-category">Category</p>
        <h3 class="card-heading">Example Card Heading</h3>
      </div>
    </a>
  <div>
</section>
