<section class="card-list">
  <a href="https://github.com/FACE-co/Gearless" class="card" style="background-image: url(https://images.unsplash.com/photo-1559226941-e1518e96a56c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80">
    <article>
      <header class="card-header">
        <p>MARKETPLACE</p>
        <h2>Gearless</h2>
        <div class="card-content">
          under construction Online marketplace service aiding users to rent or lease camping and outdoor gears.
        </div>
      </header>
      <div class="tags">
        <span>ruby on rails</span>
        <span>bootstrap5</span>
      </div>
    </article>
  </a>
    <a href="#" target="_blank" class="card" style="background-image: url(https://images.unsplash.com/photo-1602532381225-eec578361933?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=815&q=80">
    <article>
      <header class="card-header">
        <p>E-COMMERCE</p>
        <h2>X-Mall</h2>
        <div class="card-content">
          under construction- E-commerce platform for B2C businesses.
        </div>
      </header>
      <div class="tags">
        <span>Java</span>
        <span>SpringBoot</span>
      </div>
    </article>
  </a>
  <a href="https://www.takestock.dev/" target="_blank" class="card" style="background-image: url(https://images.unsplash.com/photo-1590283603385-17ffb3a7f29f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
    <article>
      <header class="card-header">
        <p>FINANCE</p>
        <h2>TakeStock</h2>
        <div class="card-content">
          One-stop website of social media information for stock traders or investors.
        </div>
      </header>
      <div class="tags">
        <span>ruby on rails</span>
        <span>tailwind</span>
      </div>
    </article>
  </a>

</section>
