<%# <div class="card-background" style="background-image: url(https://images.unsplash.com/photo-1563986768711-b3bde3dc821e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=868&q=80"></div>
<div class="card-background" style="background-image: url(https://images.unsplash.com/photo-1551632811-561732d1e306?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)"></div> %>


<section class="card-list">
  <a href="https://www.takestock.dev/" target="_blank" class="card">
    <article>
      <header class="card-header">
        <p>FINANCE</p>
        <h2>TakeStock</h2>
        <div class="card-content">
          introduction here
        </div>
      </header>
      <div class="tags">
        <span>html</span>
        <span>css</span>
        <span>web-dev</span>
      </div>
    </article>
  </a>
  <a href="/snow" class="card">
    <article>
      <header class="card-header">
        <p>E-COMMERCE</p>
        <h2>Gearless</h2>
        <div class="card-content">
          introduction here
        </div>
      </header>
      <div class="tags">
        <span>html</span>
        <span>css</span>
        <span>web-dev</span>
      </div>
    </article>
  </a>
  <a class="card">
    <article>
      <header class="card-header">
        <p>Category</p>
        <h2>Never forget</h2>
        <div class="card-content">
          introduction here
        </div>
      </header>
      <div class="tags">
        <span>html</span>
        <span>css</span>
        <span>web-dev</span>
      </div>
    </article>
  </a>
</section>
