<div id="all-div">
  <%# this is about my passion and current experience %>
  <div id="ABOUT">
    <div class="pt-3 mt-5 m-auto w-50">
      <div class="svg-wrapper">
        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="60" width="320" />
        </svg>
        <div class="text">Hello,&nbspI'm Casey</div>
      </div>
    </div>
    <div>
      <p class="mt-3 m-auto w-50">
        I am a Software Developer / Fullstack Developer based in AU.<br>
        Currently I'm looking for new opportunities.
      </p>
    </div>
    <section id="scrollbutton" class="text-center scroll">
      <a href="#PROJECTS"><span></span>Scroll</a>
    </section>

  </div>

  <div id="PROJECTS">
    <div class="text-center pt-3">PROJECTS</div>
    <div class="mt-5 m-auto w-75">
      <%= render "pages/projects" %>
    </div>
  </div>

  <div id="EXPERIMENTS">
    <div class="text-center pt-3 pb-3">EXPERIMENTS</div>
    <div class="mt-5 m-auto w-75">
      <%= render "pages/experiments" %>
    </div>
  </div>

  <div id="CONNECT" data-controller="copy" >
    <div class="text-center pt-5">CONNECT</div>
    <%= render "pages/connect" %>
  </div>

</div>
