
  a {
    text-decoration: none;
  }
  .card-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .card-list::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #6FFFE9, #ffe96f);
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
      inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  }

  .card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
  }

  .card {
    height: 350px;
    width: 350px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition:
      filter 200ms linear,
      transform 200ms linear;
  }

  .card:focus-within ~ .card,
  .card:hover ~ .card {
    transform: translateX(130px);
  }

  .card:hover {
    transform: translateY(-1rem);
  }

  .card:not(:first-child) {
    margin-left: -130px;
  }

  .card-header{
    background: none;
    border: none;
  }

  .card-header p {
    text-decoration: none;
    margin: 0 0 1rem;
    color: white;
    font-size: 0.9rem;
    text-transform: uppercase;
  }

  .card-header h2 {
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    margin: 0.25rem 0 auto;
    color: white;
    border: 0;
    display: inline-block;
    cursor: pointer;
    font-weight: 700;
  }

  .card-header h2:hover {
    background: linear-gradient(to right,#6FFFE9, #ffe96f);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  .card-content{
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    color: white;
  }

  .tags {
    position: fixed;
    bottom: 3rem;
  }

  .tags span {
    font-style: normal;
    font-weight: 700;
    font-size: 0.5rem;
    color: white;
    text-transform: uppercase;
    font-size: 0.66rem;
    border: 3px solid white;
    border-radius: 2rem;
    padding: 0.2rem 0.85rem 0.25rem;
  }

  .tags span:hover {
    background: linear-gradient(90deg, #6FFFE9, #ffe96f);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: #ffe96f;
  }
